* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "微軟正黑體",monospace,"Press Start 2P";
}
a {
    text-decoration: none;
}
body {
    background: linear-gradient(120deg,#f8f8d5 ,#FEDFE1,#bcf2ff);
}
.topside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 300px;
    // background: linear-gradient(25deg, #ffa6bb,transparent, #fae897);
    background: #ffffffa4;
    backdrop-filter: blur(10px); 
    box-shadow: 0 2px 5px #0000005d;
    position: sticky;
    z-index: 999;
    top: 0;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            width: 150px;
            img {
                width: 100%;
                vertical-align: bottom
            }
        }
    }
    .hamburger {
        background: none;
        border: none;
        cursor: pointer;
        display: none;
      }
      .nav {
        display: flex;
        list-style: none;
        // gap: 20px;
        transition: max-height 0.4s ease, opacity 0.4s ease;
        overflow: hidden;
        li {
            margin: 18px;
            display: inline-block;
            font-size: 14px;
            svg {
                margin-bottom: 3px;
            }
        }
      }
      .nav.open {
        display: flex;
      }
}

.logged_in {
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .login_icon {   
        color: gray;
        margin-right: 15px;
    }
    
    span {
        display: flex;
        font-family: "Press Start 2P", monospace;
        color: gray;
        font-size: 18px;
    }

    button {
        all: unset;
        cursor: pointer;
        .logout_icon {
            transition: all 0.5s ease;
            &:hover {
                color: palevioletred;
            }
        }
    }
}

// 整體 scrollbar 寬度 
::-webkit-scrollbar {
  width: 10px;
}

// 滾動條軌道（背景）
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

// 滾動條滑塊（可拖動部分）
::-webkit-scrollbar-thumb {
  background: pink;
  border-radius: 5px;
  
  // 滾動條滑塊 hover 時的樣式 
  &:hover {
    background: palevioletred;
  }
}

@media (width > 900px) {
    .topside {
        .nav {
            display: flex;
            position: static;
            align-items: center;
            li {
                display: flex;
                align-items: center;
                list-style-type: none;
                a {
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;
                    text-decoration: none;
                    color: gray;
                    transition: all 0.5s ease;
                    &:hover {
                        color: palevioletred;
                    }
                }
            }
        }
    }
}

@media (width < 1600px) {
    .topside {
        padding: 10px;
    }
}

@media (width < 900px) {
    .topside {
        .hamburger {
            display: block;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.3);
            z-index: 50;
        }

        .nav {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 85px;
            left: 0;
            width: 100%;
            max-height: 0;
            background-color: white;
            padding:0 20px;
            opacity: 0;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            z-index: 99;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                transform: translateY(-10px);
                opacity: 0;
                font-size: 16px;
                transition: transform 0.3s ease, opacity 0.5s ease;
                a{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: gray;
                    transition: all 0.5s ease;
                    &:hover {
                        color: palevioletred;
                    }
                }
                .home_icon, .star_icon, .account_icon, .store_icon {
                    margin-right: 20px;
                }
            }
        }
        .nav.open {
            max-height: 300px; 
            opacity: 1;
            padding: 20px;
            li {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}