* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "微軟正黑體","Press Start 2P", monospace;
}
a {
    text-decoration: none;
}
body {
    // background-color: #FEDFE1;
    background: linear-gradient(120deg,#f8f8d5 ,#FEDFE1,#bcf2ff);
}
.topside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 300px;
    // background: linear-gradient(25deg, #ffa6bb,transparent, #fae897);
    background: #ffffffa4;
    backdrop-filter: blur(10px); 
    box-shadow: 0 2px 5px #0000005d;
    position: sticky;
    z-index: 999;
    top: 0;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin:0 100px;
        a {
            width: 150px;
            img {
                width: 100%;
                vertical-align: bottom
            }
        }
    }
    ul {
        display: flex;
        li {
            display: flex;
            align-items: center;
            list-style-type: none;
            .unlogin {
                margin: 1rem;
                .account_icon{
                    color: #60373E;
                    &:hover {
                        color: darkgoldenrod;
                    }
                }
            }
            a {
                text-decoration: none;
                color: #B5495B;
                &:hover {
                    color: darkgoldenrod;
                }
            }
        }
    }
}

.cart_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logged_in {
    margin-right: 15px;
    .login_icon {
        // color:white;
        color: #60373E;
        margin-right: 15px;
    }
    button {
        all: unset;
        cursor: pointer;
        .logout_icon {
            &:hover {
                color: darkgoldenrod;
            }
        }
    }
    span {
        font-family: "Press Start 2P", monospace;
        color: #60373E;
        font-size: 18px;
    }
}
@media (width < 1200px) {
    .topside {
        padding: 0;
    }
}