@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微軟正黑體", monospace, "Press Start 2P";
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(120deg, #f8f8d5, #FEDFE1, #bcf2ff);
}

.topside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 300px;
  background: rgba(255, 255, 255, 0.6431372549);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3647058824);
  position: sticky;
  z-index: 999;
  top: 0;
}
.topside .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topside .logo a {
  width: 150px;
}
.topside .logo a img {
  width: 100%;
  vertical-align: bottom;
}
.topside .hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}
.topside .nav {
  display: flex;
  list-style: none;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  overflow: hidden;
}
.topside .nav li {
  margin: 10px 20px;
  display: inline-block;
  font-size: 14px;
}
.topside .nav li svg {
  margin-bottom: 3px;
}
.topside .nav.open {
  display: flex;
}

.logged_in {
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.logged_in .login_icon {
  color: gray;
  margin-right: 15px;
}
.logged_in span {
  display: flex;
  font-family: "Press Start 2P", monospace;
  color: gray;
  font-size: 18px;
}
.logged_in button {
  all: unset;
  cursor: pointer;
}
.logged_in button .logout_icon {
  transition: all 0.5s ease;
}
.logged_in button .logout_icon:hover {
  color: palevioletred;
}

@media (width > 900px) {
  .topside .nav {
    display: flex;
    position: static;
    align-items: center;
  }
  .topside .nav li {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  .topside .nav li a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: gray;
    transition: all 0.5s ease;
  }
  .topside .nav li a:hover {
    color: palevioletred;
  }
}
@media (width < 1600px) {
  .topside {
    padding: 10px;
  }
}
@media (width < 900px) {
  .topside .hamburger {
    display: block;
  }
  .topside .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 50;
  }
  .topside .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    max-height: 0;
    background-color: white;
    padding: 0 20px;
    opacity: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
  .topside .nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    transform: translateY(-10px);
    opacity: 0;
    font-size: 16px;
    transition: transform 0.3s ease, opacity 0.5s ease;
  }
  .topside .nav li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: gray;
    transition: all 0.5s ease;
  }
  .topside .nav li a:hover {
    color: palevioletred;
  }
  .topside .nav li .home_icon, .topside .nav li .star_icon, .topside .nav li .account_icon, .topside .nav li .store_icon {
    margin-right: 20px;
  }
  .topside .nav.open {
    max-height: 300px;
    opacity: 1;
    padding: 20px;
  }
  .topside .nav.open li {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=App.css.map */