// .swiper {
//   margin: 0;            /* 移除自動置中 */
//   width: 800px;
// }
.swiper-pagination-bullet-active{
    background-color: pink;
}
.swiper_container {
  position: relative;
}
.animated-arrow-left,.animated-arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 28px;
  color: pink;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease, box-shadow 0.3s;
}

.animated-arrow-right:hover {
  transform: translateY(-50%) translateX(5px) rotate(10deg);
}
.animated-arrow-left:hover {
  transform: translateY(-50%) translateX(-5px) rotate(-10deg);
}

.custom-swiper-button-prev {
  left: 10px;
}

.custom-swiper-button-next {
  right: 10px;
}
