.cart_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .cart_count{
        position: absolute;
        background: #ff8282fd;
        box-shadow: 1px 2px thistle;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        top: -16px;
        left: 15px;
        font-size: 12px;
    }
}

@media (width < 900px) {
    .cart_icon {
        margin-right: 30px;
    }
}