@charset "UTF-8";
.unlogin_cart {
  background-image: url("../pic/background_004.png");
  height: 71vh;
}
.unlogin_cart .plz_login {
  position: relative;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.5882352941);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 3px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10px;
}
.unlogin_cart .plz_login p {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}
.unlogin_cart .plz_login button {
  position: relative;
  font-size: 18px;
  color: #fff;
  background: #000000;
  border: 3px solid #000;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  transition: transform 0.3s;
  width: 250px;
  cursor: pointer;
}
.unlogin_cart .plz_login button::before {
  content: "帳號密碼想好沒?";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  background-color: #ff8181;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.3s;
}
.unlogin_cart .plz_login button:hover::before {
  transform: translateY(0);
}
.unlogin_cart .plz_login button:active {
  transform: scale(0.95);
}

.empty_cart {
  position: relative;
  background: right 65% top 12% url("../pic/background_006.png");
  height: 71vh;
}
.empty_cart .blink_text {
  position: absolute;
  right: 59%;
  top: 10%;
  color: #ffe054;
  text-shadow: -3px -1px 1px black, 3px -1px 1px black, 0px -3px 1px black, 0px 3px 1px black;
  font-size: 5rem;
  animation: blink 2s infinite;
}

.normal_cart {
  min-height: 68vh;
  margin: 30px 300px;
}
.normal_cart h3 {
  text-align: center;
  font-size: 26px;
  margin: 70px;
  color: gold;
  text-shadow: -2px 0px 1px black, 0px 2px 1px black, 2px 0px 1px black, 0px -2px 1px black;
}
.normal_cart .cart_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.normal_cart .cart_content .cart_table {
  margin: auto;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.7019607843);
  width: 800px;
  border-radius: 6px;
}
.normal_cart .cart_content .cart_table thead {
  position: relative;
}
.normal_cart .cart_content .cart_table thead th:nth-child(1) {
  width: 45%;
}
.normal_cart .cart_content .cart_table thead th:nth-child(2) {
  width: 20%;
}
.normal_cart .cart_content .cart_table thead th:nth-child(3) {
  width: 20%;
}
.normal_cart .cart_content .cart_table thead th:nth-child(4) {
  width: 15%;
}
.normal_cart .cart_content .cart_table thead::after {
  content: "";
  position: absolute;
  left: 1%;
  right: 1%;
  bottom: 0;
  width: 98%;
  height: 1px;
  background: #c7c7c7;
}
.normal_cart .cart_content .cart_table th, .normal_cart .cart_content .cart_table td {
  padding: 20px;
  text-align: left;
}
.normal_cart .cart_content .cart_table td:nth-child(4) {
  text-align: center;
}
.normal_cart .cart_content .cart_table .cart_item_info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.normal_cart .cart_content .cart_table .cart_quantity .cart_quantity_btn {
  display: flex;
  width: 80px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid #dad8d8;
  border-radius: 15px;
  padding: 7px 9px;
  font-size: 14px;
}
.normal_cart .cart_content .cart_table .cart_quantity .cart_quantity_btn button {
  all: unset;
  cursor: pointer;
}
.normal_cart .cart_content .cart_table .cart_quantity .cart_quantity_btn button svg {
  width: 11x;
  height: 11px;
}
.normal_cart .cart_content .cart_table .cart_quantity .cart_quantity_btn button:disabled {
  color: gray;
  cursor: not-allowed;
}
.normal_cart .cart_content .cart_table .cart_delete_btn {
  color: #f00;
  background: none;
  border: none;
  cursor: pointer;
}
.normal_cart .cart_content .normal_cart_right_side {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 500px;
  border-radius: 6px;
  justify-content: space-between;
  background: rgba(243, 243, 243, 0.662745098);
}
.normal_cart .cart_content .normal_cart_right_side .price_text {
  font-size: 18px;
}
.normal_cart .cart_content .normal_cart_right_side .cart_note {
  margin: 30px 0;
  letter-spacing: 1px;
  line-height: 24px;
}
.normal_cart .cart_content .normal_cart_right_side .finish_btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a88420;
  font-size: 15px;
  background-color: #ffd037;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  border-radius: 9999px;
  gap: 10px;
  font-weight: bold;
  border: 3px solid rgba(8, 8, 8, 0.3019607843);
  outline: none;
  overflow: hidden;
  cursor: pointer;
}
.normal_cart .cart_content .normal_cart_right_side .finish_btn:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
.normal_cart .cart_content .normal_cart_right_side .finish_btn:hover::before {
  animation: shine 1.5s ease-out infinite;
}
.normal_cart .cart_content .normal_cart_right_side .finish_btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}
.normal_cart .cart_content .normal_cart_right_side .goto_portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: auto;
  padding: 5px 7px;
  cursor: pointer;
  transition: all ease-in 0.3s;
  border: 2px solid #91989F;
  color: #91989F;
  gap: 5px;
  font-size: 16px;
}
.normal_cart .cart_content .normal_cart_right_side .goto_portfolio:hover {
  background-color: #91989F;
  color: white;
}

.copyable {
  cursor: pointer;
  transition: color 0.3s ease;
  color: #ff8181;
}
.copyable:hover {
  color: skyblue;
}
.copyable.copied {
  color: #16a34a;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@media (width < 1900px) {
  .normal_cart .cart_content .cart_table {
    margin-bottom: 15px;
  }
}
@media (width < 1600px) {
  .unlogin_cart {
    background: right 52% top 15% url("../pic/background_004.png");
  }
}
@media (width < 900px) {
  .empty_cart {
    background: right 45% top 12% url("../pic/background_006.png");
  }
  .normal_cart {
    margin: 30px 0;
  }
  .normal_cart .cart_content {
    display: inline-flex;
  }
  .normal_cart .cart_content .cart_table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .normal_cart .cart_content .cart_table thead {
    display: none;
  }
  .normal_cart .cart_content .cart_table tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .normal_cart .cart_content .cart_table tbody .cart_item_info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .normal_cart .cart_content .normal_cart_right_side {
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    margin: auto;
  }
  .normal_cart .cart_content .normal_cart_right_side .cart_note {
    margin: 1rem 0;
  }
}
@media (width < 576px) {
  .empty_cart {
    background: right 60% top 12% url("../pic/background_006.png");
  }
}/*# sourceMappingURL=CartPage.css.map */