.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #113285;
    color: white;
    padding: 30px;
    .pic {
        width: 150px;
        display: flex;
    }
    img {
        width: 100%;
    }
}